/*main styles*/
header {
    font-family: 'Droid Sans', monospace;
    width: 100%;
}

table {
    border-spacing: 0;
    border: 1px solid black;
}

tr {
    height:40px;
}

th {
    width:40px;
    background-color: #fffcdb;
    border: 1px solid black;
}

/*Div styles*/
#mainContainer {

}

#boardContainer {
    
}

#scoreContainer {

}

#playerContainer {

}

