/*main styles*/
header {
    font-family: 'Droid Sans', monospace;
    wkdth: 100%;
}

table {
}

tr {
    height:40px;
}

td {
    width:40px;   
}

/*Div styles*/
#mainContainer {

}

#boardContainer {
    
}

#scoreContainer {

}

#playerContainer {

}

