#test {
    width: 30px;
    height: 50px;
	background-color: #000000;
}

html {
	font-family: Lato, Arial, sans-serif;
	background-color: #1d5135;
    background-image: url("images/texture.png");
    background-repeat: repeat;
    color: #d6d8c7;
    box-shadow: 0 0 350px -20px #000000 inset;
    height: 100%;
    width: 100%;
	overflow: hidden;
}

header {
	position: relative;
	margin: auto;
    margin-top: 10%;
    z-index: 0;
	width: 1000px;
	height: 140px;
}

header h1 {
    padding-left: 20px;
    padding-top: 20px;
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    max-width: 5px;
    background: rgba(255,255,255, 0.1);
}

#bannerTicket {
 	background-color: #292929;
 	border-radius: 0 10px 10px 0px;
    box-shadow: 3px 0px 2px -2px #808080 inset;
    height: 140px;
    width: 880px;
 	margin-left: 120px;
    position: relative;
    left: 0px;
    bottom: 40px;
    z-index: 50;
}

#socialIcons {
    margin: 20px;
    position: absolute;
    top: 0;
    right: 0;
}

#Li {
    margin-left: 5px;
    }

#profilePhoto {
	width: 120px;
	height: 160px;
	position: absolute;
	left: 0px;
	border-radius: 10px;
	z-index: -1;
}

#profileRecess {
	width: 120px;
	height: 160px;
	position: absolute;
	left: 0px;
    margin-top: 10%;
    bottom: 30px;
	border-radius: 10px;
	box-shadow: 0px 0px 30px 5px rgba(0,0,0,.5) inset, 1px 1px 2px #349160, -1px -1px 2px #113020;
}

#mainBox {
	background-color: #292929;
	margin: auto;
	height: 500px;
	width: 1000px;
	position:relative;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 0 450px -50px rgba(255, 255, 255, 0.6);
    z-index: 0;
}

.indexCard {
	position: absolute;
	height: 100%;
	right: 0px;
    background-color: #292929;
    box-shadow: -2px 0 5px #000000;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
	-webkit-transition: width 0.3s ease-in;
    -moz-transition: width 0.3s ease-in;
	transition: width 0.3s ease-in;
}

.contentBox {
    width: 770px;
    height: 460px;
    margin-left: 50px;
    margin-right: 5px;
    padding: 20px;
    padding-right: 0px;
    overflow-y: auto;
}

.tab {
    background: #202020;    
    position: absolute;
    left: 0;
    width: 50px;
    height: 100%;
    color:  rgba(255,255,255, 0.5);
    background-image: url("images/fibreTexture.png");
    background-repeat: repeat;
    border-radius: 10px 0 0 10px;
    box-shadow: 3px 3px 5px rgba(255,255,255,0.1) inset, 3px 0px 3px -1px #000000;
}

.indexTitle {
	position: relative;
	top: 420px;
	z-index: 2;
    cursor: default;
    text-shadow: -1px 1px 1px #453E41, 1px -1px 1px #191919, 0 0 1px #d6d8c7;
	-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
}

#about {
	z-index: 1;
	left: 0px;
    box-shadow: -2px 0 5px #000000;
}

#projects {
	z-index: 2;
	width: 150px;
}

#plans {
	z-index: 3;
	width: 100px;
	margin-left: 900px;
}

#links {
    z-index: 4;
	width: 50px;
	margin-left: 950px;
    box-shadow: -5px 0px 3px -3px #000000 inset, -2px 0 5px #000000;;
}

#popBack {
  z-index: 20;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top:0%;
  left: 0%;
  height: 100%;
  width: 100%;
  display: none;
}

#popBox {
  z-index: 21;
  background-color: #FFFFFF;
  height: 300px;
  width: 600px;
  position: absolute;
  top:25%;
  left: 25%;
  display: none;
}



