/*CUSTOMIZED HTML TAGS*/
html {
    font-family: Ubuntu, Arial, sans-serif;
    color: #d2d2d2;
    background-image: url("images/texture.png");
    background-repeat: repeat;
    background-color: #1d5135;
    background-attachment: fixed;
    height: 100%;
    box-shadow: 0 0 350px -20px #000000 inset;
    overflow: hidden;
}

body {
    margin: 0;   
    height: 100%;
    overflow-y: scroll;
}

/*CLASSES*/
.glassPanel { 
    background: rgba(0, 0, 0, 0.9);
    background:  /*http://lea.verou.me/2011/03/beveled-corners-negative-border-radius-with-css3-gradients/*/
        -webkit-linear-gradient(135deg, transparent 30px, rgba(0, 0, 0, 0.9) 30px);
    box-shadow: -1px -1px 0 rgba(255, 255, 255, 0.2);
}

.panelLeft{
    position: absolute;
    left: 0px;
    height: 260px;
    width: 47%;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-transition: height 0.3s ease, width 0.3s ease, top 0.3s ease;
}

.panelRight {
    position: absolute;
    right: 0px;
    height: 260px;
    width: 47%;
    -webkit-transition: height 0.3s ease, width 0.3s ease, top 0.3s ease;
}

.panelContainer {
    margin: 20px;
    height: 85%;
    width: 95%;
    overflow-y: scroll;
}

/*PSEUDOs*/

::-webkit-scrollbar {
    width: 0px;
}
::-webkit-scrollbar-button{ 
    height: 20px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 1px;
    border-radius: 1px;
    max-width: 0px;
    background: transparent;
}

/*IDs*/
#topBar {
    position: fixed;
    top: 0;
    left: 10%;
    height: 180px;
    margin: auto;
    width: 80%;
    min-width: 600px;
    text-indent: 150px;
    z-index: 600;
}

#photo {
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 594;
    border-radius: 6px;
}

#photoFrame {
    width: 120px;
	height: 160px;
	position: absolute;
	left: 10px;
    bottom: 10px;
    z-index: 595;
    border-radius: 5px;
    border: 1px #000;
	box-shadow: 0 0 20px 5px #000 inset, 1px 1px 0 rgba(255, 255, 255, 0.2);
}

#social {
    position: absolute;
    top: 10px;
    right: 10px;
}

#container {
    position: relative;
    margin: auto;
    width: 80%;
    height: 100%;
    height: 100%;
    padding-top: 200px;
    overflow-y: scroll;
}

#panel1 {
    top: 210px;
}

#panel2 {
    top: 210px;
}

#panel3 {
    top: 500px;
}

#panel4 {
    top: 500px;
}

#panel5 {
    top: 790px;
}

#panel6 {
    top: 790px;
}

#panel7 {
    top: 1080px;
}