#test {
    width: 30px;
    height: 50px;
	background-color: #000000;
}

html {
	font-family: Ubuntu, Arial, sans-serif;
	background-color: #1d5135;
    background-image: url("images/texture.png");
    background-repeat: repeat;
    color: #d6d8c7;
    box-shadow: 0 0 350px -20px #000000 inset;
    height: 100%;
    width: 100%;
	overflow: hidden;
}

header {
	position: relative;
	margin: auto;
    margin-top: 10%;
    z-index: 2;
	width: 1000px;
	height: 140px;
}

h1 {
    font-weight: 700;
    font-style: italic;  
    text-shadow: 0 0 1px rgba(214,216, 199, 1);
}

h2 {
    text-shadow: 0 0 1px rgba(214,216, 199, 1);
}

header h1 {
    padding-left: 20px;
    padding-top: 20px;
}

header h2 {
    padding-left: 20px;
}

p {
    text-align: justify;
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-button{ 
    height: 5px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 1px;
    border-radius: 1px;
    max-width: 5px;
    background: rgba(255,255,255, 0.1);
    box-shadow: 4px 0px 0px 2px #292929 inset;
}

#bannerTicket {
 	background-color: #292929;
 	border-radius: 0 10px 10px 0px;
    box-shadow:  1px 1px 1px #000000, 0px 1px 1px #808080 inset, 8px 0 4px -6px #000 inset;
    height: 140px;
    width: 870px;
 	margin-left: 130px;
    position: relative;
    left: 0px;
    bottom: 40px;
    z-index: 50;
}

#socialIcons {
    margin: 20px;
    position: absolute;
    top: 0;
    right: 0;
}

#socialIcons :hover {
    //insert shadow for icons 
}

#Li {
    margin-left: 5px;
}

#profilePhoto {
	width: 120px;
	height: 160px;
	position: absolute;
	left: 0px;
}

#profileRecess {
	width: 120px;
	height: 160px;
	position: absolute;
	left: 0px;
    margin-top: 10%;
    bottom: 30px;
	box-shadow: 0 0 0 10px #FFFFFF, 6px 6px 10px 8px #000;
}

#mainBox {
	background-color: #292929;
	margin: auto;
	height: 500px;
	width: 1000px;
	position:relative;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 0 450px -50px rgba(255, 255, 255, 0.6);
    z-index: 0;
}

.indexCard {
	position: absolute;
	height: 100%;
	right: 0px;
    background-color: #292929;
    box-shadow: -2px 0 5px #000000, 2px 1px 1px #808080 inset;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
	-webkit-transition: width 0.3s ease-in;
    -moz-transition: width 0.3s ease-in;
	transition: width 0.3s ease-in;
}

.contentBox {
    width: 770px;
    height: 460px;
    margin-left: 50px;
    margin-right: 5px;
    padding: 20px;
    padding-right: 0px;
    overflow-y: auto;
    
}

.tab {
    background: #202020;    
    position: absolute;
    left: 0;
    width: 50px;
    height: 100%;
    background-image: url("images/pinHole.png");
    background-repeat: repeat;
    border-radius: 10px 0 0 10px;
    box-shadow: 3px 3px 5px rgba(255,255,255,0.1) inset, 3px 0px 3px -1px #000000;
}

.indexTitle {
	position: relative;
	top: 420px;
	z-index: 2;
    cursor: default;
    text-shadow: -1px 1px 1px #453E41, 1px -1px 1px #191919, 0 0 1px #d6d8c7;
	-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
}

#about {
	z-index: 1;
	left: 0px;
    box-shadow: -2px 0 5px #000000, 2px 1px 1px #808080 inset;
}

#projects {
	z-index: 2;
	width: 150px;
}

#plans {
	z-index: 3;
	width: 100px;
	margin-left: 900px;
}

#links {
    z-index: 4;
	width: 50px;
	margin-left: 950px;
    box-shadow: -5px 0px 3px -3px #000000 inset, -2px 0 5px #000000;;
}

#popBack {
  z-index: 20;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top:0%;
  left: 0%;
  height: 100%;
  width: 100%;
  display: none;
}

#popBox {
  z-index: 21;
  background-color: #FFFFFF;
  height: 300px;
  width: 600px;
  position: absolute;
  top:25%;
  left: 25%;
  display: none;
}



