html {
    font-family: 'Droid Sans Mono', sans-serif;
    padding: 0;
    margin: 0:
    overflow: hidden;
}

body {
    padding: 0;   
    margin: 0;
}

#mainContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 600px;
    background-color: #000000;
    border-radius: 5px;
}

#fadein {
    position: relative;
    z-index: 5;
    margin: 0;
    border-radius: 5px;
    width: 800px;
    height: 500px;
    background-color: #000000;
    text-align: center;
    padding-top: 100px;
    color: white;
    -webkit-transition: background-color ease 1.5s, color ease 1.5s;
}

#startButton {
    text-align: center;
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    -webkit-transition: background-color ease 1.5s, color ease 1.5s;   
}

#score {
    position: absolute;
    left: 300px;
    top: 10px;
    text-align: center;
    color: white;
    font-size: 40px;
    width: 200px;
    height: 50px;
    background-color: #292929;
    overflow: hidden;
}

#net {
    position: relative;
    margin-top: 60px;
    margin-left: 399px;
    width: 2px;
    height: 540px;
    background-color: #292929;
    overflow: hidden;
    z-index: 0;
}

#paddle1 {
    position: absolute;
    top: 250px;
    left: 10px;
    width: 10px;
    height: 100px;
    border-radius: 5px;
    background-color: #FFFFFF;
}

#ball {
    position: absolute;
    top: 295px;
    left: 20px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #FFFFFF;
}

#paddle2 {
    position: absolute;
    top: 250px;
    right: 10px;
    width: 10px;
    height: 100px;
    border-radius: 5px;
    background-color: #FFFFFF;
}